/* Cambios respecto del content.min.css original del tinymce */
body{
	color:#555555;
	/*font-family:sans-serif, Arial, Verdana, "Trebuchet MS";
	font-size:13px;
	line-height: 1.6;*/
	font-family: 'Work Sans', sans-serif, "Open Sans","Helvetica Neue",Helvetica,Arial;
	font-size:14px;
	line-height:1.57142857;
	
}

td,th{
	/*
	font-family:sans-serif, Arial, Verdana, "Trebuchet MS";
	font-size:13px;
	line-height: 1.6;*/
	font-family: 'Work Sans', sans-serif, "Open Sans","Helvetica Neue",Helvetica,Arial;
	font-size:14px;
	line-height:1.57142857;
}

.mce-content-body .mce-reset{
	/*font-size:13px;*/
	font-size:14px;
}

.mce-content-body img {
	max-width:100%;
	padding:0;
}

.mce-content-body img[style="float: left;"]{
  margin-right:30px;
}

.mce-content-body img[style="float: right;"]{
  margin-left:30px;
}



table#mce_fullscreen_tbl.mceLayout { 
  margin: 20px auto 0; 
} 
/* fin cambios respecto css original */

body.tox-fullscreen { 
  background:none; 
  background: rgba(0, 0, 0, 0.6);    
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000); 
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000); 
  zoom: 1; 
} 

div.tox-fullscreen {
    position: fixed;
    top: 10%;
    left: 10%;
    max-width: 1314px;
}
