.typeahead { 
	border: 2px solid #FFF;
	border-radius: 4px;
	padding: 8px 12px;
	max-width: 300px;
	min-width: 290px;
	background: rgba(66, 52, 52, 0.5);
	color: #FFF;
}
.tt-menu { 
	width:300px; 
}
ul{
	&.typeahead{
		margin:0px;
		padding:10px 0px;
		&.dropdown-menu{
			li{
				a{
					padding: 10px !important;	
					border-bottom:#CCC 1px solid;
					color:#FFF;
				}
			}
			li:last-child{
				a{
					border-bottom:0px !important; 
				}
			}
		}
	}
}
	
.bgcolor {
	max-width: 550px;
	min-width: 290px;
	max-height:340px;
	background:url("world-contries.jpg") no-repeat center center;
	padding: 100px 10px 130px;
	border-radius:4px;
	text-align:center;
	margin:10px;
}
.demo-label {
	font-size:1.5em;
	color: #686868;
	font-weight: 500;
	color:#FFF;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	text-decoration: none;
	background-color: #1f3f41;
	outline: 0;
}