// MAIN CSS FOR PROJECT

@import "bootstrap-suggest";

body{
    font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
h1, h2 {
    color: $primary;
}
h1, h2 {
    span{
        font-size: 1rem;
        display: block;
        margin-top: .6rem;
        font-style: italic;
    }
}
p {
    font-size: .95rem;
}
$gradient-corporate1 : linear-gradient(to right, $primary 0%, $secondary 51%, $primary 100%);
$gradient-corporate2 : linear-gradient(to right, $gray-500 0%, $gray 51%, $gray-500 100%);
$gradient-corporate3 : linear-gradient(180deg, rgba(59, 133, 190, 0) 0%, #0F4683 100%);
$gradient-corporate4 : linear-gradient(to right, $primary 0%, $secondary 51%);

.bg-corporate1 {
    background: $gradient-corporate1;
}

.container {
    max-width: 1440px;
}
form{
    .form-control{
        background: $gray-100;
        border: none;
        height: 46px;
        &.inputBuscador {
            width: 20rem;
        }
		&.recaptcha{
			overflow: hidden;
			width: 290px;   /* note the embedded iframe is 302x76 */
			min-width:0px;
			height: 74px;
			padding:0;
			text-align: left;
			border: 0.09em solid #CBCBCB;
			margin: 0 auto;
			.g-recaptcha{
				width:304px;
				margin: 0 auto;
				div{
					height: auto;
					display: block;
					margin-right: auto;
					margin-left: auto;
				}
				&.has-error{
					background: #ffe5e8;
					border-bottom: 3px solid #c80d22;
					border-radius: 3px;
				}
			}
			iframe{
				position: relative;
				left: -6px;
				top: -1px;
			}
			&:hover{
				border-color: #9da9b1;
				outline: 0;
			}
			&.has-error{
				border-color: #c80d22;
				&:focus, &:hover{
					border-color: #980a1a;
				}
			}
		}
		&.mce-container{
			height:auto;
		}
    }
    .required{
        margin-bottom: 30px;
    }
    .file{
        padding: 12px 20px;
        border-radius: 8px;
        line-height: 1;
    }
    .opt-corporate1{
        background: $white;
        box-shadow: 2px 2px 2px $gray;
        color: $primary;
        border: none;
        padding: 0.5rem .75rem;
        &.active {
            background: $gray-100;
            border-bottom: 1px solid $secondary;
        }
    }
    textarea{
        min-height: 9rem;
    }
}

form{
	textarea{
		&.form-control{
			height:auto;
		}
	}
}

// ////////////////////// átomos o elementos sueltos
object { max-width: 100%;}
img { max-width: 100%;}
h1{
    color: $primary;
    font-size: 3.1rem;
    margin-top: 3rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    //font-size: 2.2rem;
}
h4{
    //font-size: 3.1rem;
}
h5{
    //font-size: 3.1rem;
}
.intro {
    font-size: 1.15rem;
    color: $primary;
}
.badge {
    background: $gray-200;
    &:hover {
        background: $primary;
        color: $white; 
    }
}

.btn {
  padding: 0.5rem 2.75rem;
  transition: 0.2s;
  background-size: 200% auto;
 }
.btn:hover {
  background-position: right center;
}
.btn-corporate1 {
    color: white;
    background-image: $gradient-corporate1;
    &:hover{
        color: white;
    }
}
.btn-corporate2 {
   color: $primary;
   background-image: $gradient-corporate2;
}
.table tr {
    i, .d-inline-block {
        vertical-align: middle;
    }
    td.language, .table tr th.language {
        .btn {
            padding: .2rem .5rem;
        }
    }
}


#login {
    #logo{
                    width:  263px;
                    height: 60px;
                    margin: 0 0 3rem;
                    padding: 0;
                    a{    
                        line-height: 1;
                        display: block;
                       width: 263px;
                        height: 60px;
                        margin: 0;
                        background: url("../img/all/logo-cms.png") no-repeat left top;
                        background-size: 263px 60px!important;
                        span{
                            display: none;
                        }
                    }
                    &.no-svg a{
                        background: url('../img/all/logo-innteresting.png') no-repeat left top!important;
                    }
                }
}
// ////////////////////// header
header{
    margin: 0 0 2px 0;
    display: block;
    .navbar-header {
        #logo{
                    width: 304px;
                    height: 51px;
                    margin: 0;
                    padding: 0;
                    a{    
                        line-height: 1;
                        display: block;
                        width: 304px;
                        height: 51px;
                        margin: 0;
                        background: url("../img/all/logo-cms.png") no-repeat left top;
                        background-size: 304px 51px!important;
                        span{
                            display: none;
                        }
                    }
                    &.no-svg a{
                        background: url('../img/all/logo-innteresting.png') no-repeat left top!important;
                    }
        }
    }
    .profile {
            .website {
                .btn {
                    color: $secondary;
                    text-decoration: underline;
                    position: relative;
                    &:hover {
                        text-decoration: none;
                    }
                    &:before {
                        font-family: "Font Awesome 5 Free"; 
                        font-weight: 900;
                        content:"\f35d";
                        position: absolute;
                        right: .5rem;
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
     }
    .navbar{
        margin: 2rem 0;
        padding: .3rem;
        background: $gray-100;
        .navbar-collapse {
            width: 100%;
            .navbar-nav{
                text-transform: uppercase;
                flex-direction: row;

                a {
                    padding: .5rem 1rem;
                    display: inline-block;
                    border-bottom: 3px solid transparent;
                    &:hover {
                        text-decoration: none;
                        color: $black;
                        box-shadow: 2px 2px 2px $gray-400;
                    }
                }
                li:last-child{
                    a {
                        padding-right: 0;
                    }
                }
                .active {
                    a{
                        border-bottom: 3px solid $primary;
                        color: $black!important;
                    }
                }
            }
        }        
        &.menuPrincipal .navbar-nav .dropdown{
            position: inherit;
            .dropdown-menu {
                position: absolute;
                left: auto;
                padding: 2rem 0 3rem 0;
                margin: 0;
                border: none;
                background-color: rgba(255,255,255, 0.95);
                box-shadow: 5px 5px 10px $gray-300;
                .submenu{
                    flex-direction: row;
                    display: flex;
                    ul{
                        padding:  0 2rem;
                        li {
                            font-size: .9rem;
                            a {
                                padding: 0;
                                color: $primary;
                                border-bottom-width: 1px;
                                &:hover {
                                    background: $white;
                                }
                            }
                            li{
                                font-size: .9rem;
                                a {
                                    padding: 0;
                                    color: $primary;
                                }
                            }
                        }
                        &.submenu2cols {
                            border-left: 1px solid $gray-400;
                            border-right: 1px solid $gray-400;
                            li{
                                width: 45%;
                                display: inline-block;
                                margin-right: 4.5%;
                                
                            }
                        }
                    }
                }
                .amedida {
                    text-transform: none;
                    span {
                        display: block;
                        color: $dark;
                        font-size: 1rem;
                        &.title {
                            text-transform: uppercase;
                            color: $primary;
                        }
                    }
                }
            }
        }
    }    
}

//////////////////// contenidos


footer {
    padding: 3rem 0 0;
    font-size: .9rem;
    a{
        &.btn-corporate1 {
            margin-right: 20px;
        }
    }
    img {
        margin: 20px 50px 0 0;
    }
    .datos {
        margin-top: 3rem;
        padding: 3rem;
        background: darken($secondary, 40%);
    }
}

//////////////////// Pantallas


.js-filepdfuploads{
	.file-preview-frame{
		text-align:left;
		height:auto;
		width:100%;
	}
}

/// tynimce fullscreen

body{
	#overlay{
		display:none;
	}
	&.tox-fullscreen { 
		#overlay{
			  display:block;
			  position: absolute;
			  left: 0;
			  top: 0;
			  width: 100%;
			  height: 100%;
			  z-index: 1;
			  background-color: rgba(130, 130, 130, 0.7);
			  font-size: 50px;
			  text-align: center;
			  line-height: 100px;
			  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
		}
	}
} 

div {
	&.tox-fullscreen {
		position: fixed;
		top: 0;
		left: 10%;
		max-width: 1314px;
		box-shadow: #000 0px 0px 6px;
	}
}
// Screens with (1200px and up OR 1314 and down)  (hay que poner xl, el anterior tamaño para que sea para tamaños menores de 1314)
@include media-breakpoint-down(xl) {
	div {
		&.tox-fullscreen {
			position: fixed;
			top: 0;
			left: 0;
			max-width: initial;
		}
	}
}
/// tynimce fullscreen


// Small devices (landscape phones, 576px and up or 768 and down)
@include media-breakpoint-down(md) {
    
}
// Small devices (320px and up)
@include media-breakpoint-down(sm) {
    header {
        .profile .website .btn {
            padding: 0 1rem 0 0;
            &:before {
                right: -1rem;
            }
        }
        .navbar{
            margin: 0;
            &.menuPrincipal .navbar-nav {
                li {
                    width: 100%;
                    &.dropdown{
                        .dropdown-menu {
                            position:relative!important;
                            top: auto;
                        }
                    }
                    a {
                        display: block;
                    }
                }
            }
        }
    }
}