// MAIN CSS FOR PROJECT

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    100% {
        background-position: 100% 50%
    }
}

body{
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Work Sans', sans-serif;
}
p {
    font-size: .95rem;
}
$gradient-corporate1 : linear-gradient(to right, $secondary 0%, $blueLight 100%);
$gradient-corporate2 : linear-gradient(to right, $blueLight 0%, $secondary 100%);
$gradient-corporate3 : linear-gradient(270deg, $blueLight 0%, $primary 100%);
$gradient-corporate4 : linear-gradient(to right, $primary 0%, $secondary 51%);
$gradient-corporate5 : linear-gradient(0deg, $gray-100 0%, $white 100%);

.bg-corporate1 {
    background: $gradient-corporate1;
}
.bg-corporate2 {
    background: $gradient-corporate3;
}
.bg-gradient1 {
    background-image: $gradient-corporate1;
}
.bg-gray {
    background: $grayLight;
}
.bg-greenLight {
    background: $greenLight;
}
.bg-orange {
    background-color: #FAB32B;
}
.text-orange {
    color: #FAB32B;
}
.shadow {
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.15);
}
.container {
    max-width: 1440px;
    &.containerMedia {
        max-width: 1040px;
    }
}
.black {
    color: $black!important;
}


.videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


// cookie bar & browser bar
#cookie-bar{
    font-size: 12px;
    line-height: 18px;
    background: $gray-600;
    color: $white;
    text-align: center;
    padding: 20px;
    z-index: 9999;
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    p{
        margin: 0;
        padding: 0;
        .cb-enable{
            display: inline-block;
            line-height: 1;
            color: $white;
            text-transform: uppercase;
            text-decoration: none;
            margin-left: 15px;
            padding: 8px 15px;
            background: $primary;
            border-radius: 4px;
            &:hover,
            &:focus{
                background: $link-hover-color;
            }
        }
    }
}
#browser-bar{
    font-size: 14px;
    line-height: 18px;
    background: $gray-900;
    color: $white;
    text-align: center;
    padding: 15px 20px;
    display: block;
    width: 100%;
    p{
        margin: 0;
        padding: 0;
        .cb-enable{
            display: inline-block;
            line-height: 1;
            color: $white;
            text-transform: uppercase;
            text-decoration: none;
            margin: 0 0 0 10px;
            padding: 8px 15px;
            background: $primary;
            border-radius: 4px;
            &:hover,
            &:focus{
                background: $link-hover-color;
            }
        }
    }
}
// ////////////////////// átomos o elementos sueltos
object { max-width: 100%;}
img { max-width: 100%;}
h1{
    text-transform: uppercase;
    font-size: 1.95rem;
    margin: 0;
    line-height: 2rem;
}
h2{
    color: $primary;
    font-size: 2.25rem;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
h5{
    font-size: 1.1rem;
}
.introDestacado {
        text-transform: uppercase;
        font-weight: 800;
        line-height: 1.7rem;
        letter-spacing: 4px;
        font-size: 1.15rem;
        color: $primary;
}
.textDestacado {
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 2px;
        font-size: 1.2rem;
        color: $primary;
}
.number {
    font-size: 6rem;
    font-weight: 600;
    color: $secondary;
    display: block;
}
.data {
    font-size: .8rem;
    font-weight: 800;
    color: $primary;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: block;
}
.bold {
    font-size: .8rem;
    font-weight: 800;
    color: $primary;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.add {
    position: absolute;
    top: 45%;
    right: -1.5rem;
    z-index: 1000;
}
.figure {
    position: relative;
    .figure-caption {
        position: absolute;
        right: 0;
        bottom: 0;
        background: $white;
        padding: 0 10px;
        font-size: .8rem;
    }
}
.badge {
    background: $gray-200;
    &:hover {
        background: $primary;
        color: $white; 
    }
}
.flex-grow1{
    flex-grow: 1;
}
.flex-grow2{
    flex-grow: 2;
}
.flex-grow3{
    flex-grow: 3;
}
.flex-grow4{
    flex-grow: 4;
}
.flex-shrink1{
    flex-shrink: 1;
}
.flex-shrink2{
    flex-shrink: 2;
}
.flex-shrink3{
    flex-shrink: 3;
}
.flex-shrink4{
    flex-shrink: 4;
}
.flex-end{
    align-self: flex-end;
} 

.btn {
      padding: 0.9rem 2.5rem;
      transition: 0.2s;
      background-size: 200% auto;
     &:hover {
        background-position: right center;
    }
}
.btn-corporate1 {
    color: $white;
    border-radius: 0;
    border: 0px;
    font-weight: bold;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-transform: uppercase;
    background: $gradient-corporate2;
    transition: 0.2s;
    padding-right: 6rem;
    text-decoration: none!important;
    position: relative;
    height: fit-content;
    transition: .3s;
    &:after {
        position: absolute;
        content:'';
        right: 3rem;
        top: 34%;
        width: 3.5rem;
        height: 15px;
        background: url(../img/all/arrow.svg) no-repeat right center;
        transition: .3s;
    }
    &:hover{
        color: $white;
        background-size: 150%;
        box-shadow: none!important;
        &:after {
            right: 2rem;
        }
    }
    &.arrow-down {
        &:after {
            background: url(../img/all/arrow-down.svg) no-repeat right center;
        }
        &:hover{
            &:after {
                right: 3rem;
                top: 45%;
            }
        }
    }
}
.btn-corporate2 {
   color: $primary;
   background-image: $gradient-corporate2;
}
.back {
    padding-left: 6rem;
    padding-right: 2.5rem;
    &:after {
        background: url(../img/all/arrow-back-bl.svg) no-repeat left center;
        right: inherit;
        left: 3rem;
    }
    &:hover {
        &:after {
            left: 2.5rem;
        }
    }
}
.desc iframe{
    width: 100%;
    min-height: 450px;
}
.carousel{
    .render{
        max-width: 36rem;
        height: 30rem;
        padding-bottom: 3rem;
        margin: 3rem 0 0 0;
        display: flex;
        background: url(../img/home/product-bg4.svg) no-repeat center bottom/100%;
        object, img {
            align-self: flex-end;
            margin: 0 auto;
            min-width: 22rem;
            max-height: 28rem;
        }
    }
    .carousel-control-prev, .carousel-control-next {
        background: rgba(255,255,255,.9);
        width: 4rem;
        .carousel-control-prev-icon{
             background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230F4683' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
        }
        .carousel-control-next-icon{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230F4683' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        }
    }
}
.listBullet {
    list-style: none;
    li::before {
      content: "\2022";  
      color: $primary; 
      font-weight: bold; 
      display: inline-block;
      width: 1em; 
      margin-left: -1em; 
    }
}
.list-arrow {
    list-style: none;
    li{
        position: relative;
        padding-left: 2rem;
        &:before {
            position: absolute;
            background: url(../img/all/arrow3.svg) no-repeat 0 0;
            content: "";  
            width: 20px; 
            height: 12px;
            left: 0;
            top: .75rem;
        }
    }
    &.arrow-wh{
        li {
                &:before {
                    background: url(../img/all/arrow.svg) no-repeat right 0/80%;
                }
        }
    }
}
.list-tick {
    list-style: none;
    li{
        position: relative;
        padding-left: 3rem;
        &:before {
            position: absolute;
            background: url(../img/all/ico-tick.svg) no-repeat 0 0;
            content: "";  
            width: 32px; 
            height: 32px;
            left: 0;
            top: -.2rem;
        }
    }
}

.listIcos {
    display: flex;
    flex-direction: row;
    li {
        text-align: center;
        margin: 0 0 0 0;
        color: $primary;
        img {
            margin: 0 auto 3rem;
            display: block;
        }
    }
}
.icosDesc {
    text-align: center;
    .ico {
        min-height: 4rem;
    }
    .data {
        color: $gray;
    }
}
.techlist {
    margin: 3rem 0;
    span {
        display: block;
        color: $white;
    }
    object {
        width: 3rem;
        height: 3rem;
        margin-bottom: .8rem;
        &.uav {
            height: 2rem;
            width: auto;
        }
    }
}
.banner {
    overflow: hidden;
    .text {
        max-width: 400px;
        float: left;
        h3 {
            font-size: 1.7rem;
            font-weight: 800;
            letter-spacing: 4px;
        }
    }
    .btn {
        float: right;
        margin-top: 4%;
    }
    &.bannerStakeholders {
        .text {
            max-width: 700px;
        }
    }
}
.pager {
    display: inherit;
    ol {margin: 0;}
    a {
        margin: 0 .7rem;
        padding: .7rem;
        transition: .2;
        &:hover {
            background: $primary;
            color: $white;
            text-decoration: none;
        }
        &.prev {
            background: url('../img/all/prev.svg') no-repeat center / cover;
            color: $white;
            padding: 1rem 1.5rem 1rem 2.5rem;
            &:hover {
                opacity: .85;
            }
        }
        &.next {
            background: url('../img/all/next.svg') no-repeat center / cover;
            color: $white;
            padding: 1rem 2.5rem 1rem 1.5rem;
            &:hover {
                opacity: .85;
            }
        }
        &.active {
            background: $primary;
            color: $white;
            cursor: pointer;
        }
    }

.team {
    height: 200px;
    width: 720px;
}

}
.twitter {
    background: url('../ico/twitter.svg') no-repeat left top;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    span {
        display: none;
    }
}
.linkedin {
    background: url('../ico/linkedin.svg') no-repeat left top;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    span {
        display: none;
    }
}
// ////////////////////// header
header{
    margin: 0;
    display: block;
    text-transform: uppercase;
    nav{
        .navbar-aux {
            padding: .2rem 0;
            li {
                display: inline-block;
                a {
                    color: $white;
                    font-size: .7rem;
                    letter-spacing: 1px;
                    margin: 0 1rem 0 0;
                    &.twitter {
                        background: url('../ico/twitter.svg') no-repeat left top;
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        vertical-align: middle;
                        span {
                            display: none;
                        }
                    }
                }
                &.active {
                    a{
                        color: $secondary!important;
                    }
                }
            }
        }
        #logo{
            margin: 1rem 0;
            padding: 0;
            display:  inline-block;
            position: relative;
            a{	
                line-height: 1;
                display: block;
                width: 304px;
                height: 51px;
                margin: 0;
                background: url('../img/all/logo-innteresting.svg') no-repeat left top;
                span{
                    display: none;
                }
            }
            &.no-svg a{
                background: url('../img/all/logo-innteresting.png') no-repeat left top!important;
            }
        }
        .navbar-nav{
            text-transform: uppercase;
            margin: 2.8rem 0 0 0;
            li{
                display: inline-block;
                margin-right: 1.5rem;
                a {
                    padding: .5rem 0rem;
                    color: $primary;
                    font-weight: 800;
                    font-size: .9rem;
                    letter-spacing: 2px;
                    &:hover {
                        color: $secondary;
                        text-decoration: none;
                    }
                }
                &.active {
                    a{
                        color: $secondary!important;
                        position: relative;
                        &:after {
                            position: absolute;
                            content: '';
                            height: 1px;
                            width: 2rem;
                            bottom: -.5rem;
                            left: 40%;
                            background: $primary;
                        }
                    }
                }
                &.sub {
                    .sub-container {
                        display: none;
                        position: absolute;
                        z-index: 999;
                        width: 700px;
                        padding-top: 20px;
                        margin-left: -2rem;
                        a {
                            color: $primary!important;
                            &:after {
                                display: none;
                            }
                            &:hover {
                                color: $secondary!important;
                                text-decoration: none;
                            }
                            &.active {
                                        color: $secondary!important;
                            }
                        }

                    }
                    &:hover,
                    &:focus{
                        .products-item{
                            color: $primary;
                        }
                        .sub-container{
                            display: inherit;
                        }
                    }
                }
            }
        }     
        
    }    
}

//////////////////// contenidos

footer {
    padding: 3rem 0;
    margin: 3rem 0 0 0;
    font-size: .9rem;
    .projectName {
        margin: 0 0 1rem;
    }
    ul {
        margin: 0;
        padding: 0;
        &.menufooter {
            li{
                font-weight: bold;
                font-size: 1rem;
                margin: 0 2em .6rem 0!important;
                &.active {
                    a {
                        color: $secondary;
                    }
                }
            }
        }
    }
    a{
        &.btn-corporate1 {
            margin-right: 20px;
        }
        &.mail {
            padding: 0 2rem 0 1.5rem;
            background: url('../img/all/ico-mail.svg') no-repeat 0 center;
        }
        &.tel {
            padding: 0 3rem 0 1.5rem;
            background: url('../img/all/ico-tel.svg') no-repeat 0 center;
        }
        &.linkedin {
            margin-left: 1rem;
        }
    }
    .person {
        padding: 0 3rem 0 1.5rem;
        background: url('../img/all/ico-person.svg') no-repeat 0 center;
    }

    img {
        margin: 20px 50px 0 0;
    }
}

//////////////////// Pantallas
main {
    //margen superior para que el menú fixed no tape contenido
    padding-top: 11.25rem;
}
//////////////////// Home

#home {
    .hero {
        position: relative;
        .text-box {
            bottom: .5rem;
            h1 {
                max-width: 870px;
                margin-left: 20.5%;
                padding-left: 3rem;
                font-size: 2.25rem;
                font-weight: 600;
                color: $white;
                letter-spacing: 4px;
                position: relative;
            }
        }
        #carouselExampleIndicators2 {
            z-index: 1;
            max-width: 1255px;
        }
    }
    .carousel-item{
        .render {
            background: url('../img/home/product-bg.png') no-repeat center bottom / 94%;
            padding-bottom: 4rem;
            object {
                margin: 0 auto;
            }
        }
    }
    .carousel-control {
        position: absolute;
        height: 50px;
        width: 35%;
        top: 10%;
        left: 50%;
        z-index: 999;
    }
    .carousel-control-prev, .carousel-control-next {
        position: relative;
        left: auto;
        right: auto;
        display: inline-block;
        opacity: .9;
    }
    .claim {
        display: inline-block;
        width: 55%;
        position: relative;
        &:before {
            width: 50%;
            border-bottom: 1px solid $primary;
            content: '';
            height: 1.1rem;
            position: absolute;
            left: 0;
        }
    }
    .conocenos {
        margin: 4rem 0 0 0;
    }
}

.hero{
        position: relative;
        .pdr0{
            padding: 0 !important;
        }
        .icos {
            color: $white;
            .ico{
                span   {
                    color: $white;
                }
            }
        }
        .keep{
            @media (min-width: 576px) and (max-width: 768px){
                width: 50%;
                float: right !important;
                margin-top: 0;
            }
        }
        .news{
            font-size: 1.2rem !important;
            margin-top: 3rem;
            @media (min-width: 576px) and (max-width: 768px){
                margin-top: 0 !important;
            }
        }
        .keep p{
            font-size: 1.2rem !important;
            line-height: 1.4rem;
        }
        .text-box {
            position: absolute;
            width:100%;
            bottom: 5rem;
            h1 {
                font-size: 2.25rem;
                font-weight: 600;
                color: $white;
                letter-spacing: 4px;
                position: relative;
                .small {
                    font-size: .4em;
                    position: absolute; 
                    left: 0;
                    top: 150px;
                    margin: 0 0 0 0;
                    transform-origin: 0 0;
                    transform: rotate(-90deg);
                }
                strong {
                    color: $secondary;
                }
            }
            p{
                color: $white;
                font-size: 1.1rem;
                &.scroll {
                    font-size: .85rem;
                    font-weight: 500;
                    position: absolute; 
                    right: 0;
                    bottom: 50px;
                    margin: 0 -146px 0 0;
                    transform-origin: 0 0;
                    transform: rotate(-90deg);
                    &:after {
                        position:absolute;
                        content:'';
                        left: -1.3rem;
                        top: -.55rem;
                        width: 2.5rem;
                        height: 2.5rem;
                        background: url(../img/all/scroll.svg) no-repeat center / 50%;
                        transform-origin: 0 0;
                        transform: rotate(90deg);
                    }
                }
                &.contact {
                    margin-top: 5rem;
                    a {
                        font-size: .85rem;
                        font-weight: 500;
                        letter-spacing: 2px;
                        color: $white;
                        max-width: 300px;
                        text-transform: uppercase;
                        padding-top: 1.7rem;
                        padding-bottom: 1.7rem;
                        display: block;
                        position: relative;
                        transition: .3s;
                        &:after {
                            position:absolute;
                            content:'';
                            right: 4rem;
                            top: 1.2rem;
                            width: 2.5rem;
                            height: 2.5rem;
                            background: rgba(255, 255, 255, .1) url(../img/all/arrow.svg) no-repeat center / 50%;
                            border-radius: 20px;
                            transition: .3s;
                        }
                        &:hover {
                            text-decoration: none;
                            color: $secondary;
                            border-color: $secondary;
                            &:after {
                                right: 3rem;
                                border-color: $secondary;
                                transform: rotate(360deg);
                            }
                        }
                    }
                }
            }
        }
        
    }
#newsletterform {
    background: #ade7f3 url(../img/home/bg-newsletter.jpg) no-repeat right bottom / 100% auto;
    padding: 40px 60px;
    .consentinfo {
        font-size: .7rem;
    }
    .btn {
        margin-bottom: 1rem;
    }
}

//////////////////// Interior
.interior {
    .hero {
        .text-box {
            p{
                &.scroll {
                    right:40px;
                    margin: 0;
                }
            }
        }
    }
    .icos {
        width: 100%;
        padding: 2rem 3rem;
        opacity: .9;
        .ico{
            text-align: center;
            span   {
                display: block;
                &.img {
                    height: 50%;
                    margin-bottom: .5rem;
                }
            }
        }
        .badge {
            margin: 0 0 0 1rem;
            &.active {
                background: $secondary;
                color: $white;
            }
        }
        &.filtros {
            .badge {
                margin: 0 .5rem 1rem 0;
            }
        }
    }
    main {
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    
 }

#impacts {
    .number {
        line-height: 6.6rem;
    }
}
.packageChart {
    .line1 {
         background: url('../img/project/grafico1a.svg') no-repeat center 80px / 94%;
    }
    .line2 {
         background: url('../img/project/grafico1b.svg') no-repeat center bottom/ 94%;
    }
    .line3 {
         background: url('../img/project/grafico1c.svg') no-repeat center top / 94%;
    }
}
.bigLeft {
    position:relative;
    &:before {
        position: absolute;
        content: '';
        width: 60px;
        height: 318px;
        background: url('../img/roadmap/big-left.svg') no-repeat center;
        right: -6rem;
        top: -2rem;
    }
}
.bigRight {
    position:relative;
    &:before {
        position: absolute;
        content: '';
        width: 60px;
        height: 318px;
        background: url('../img/roadmap/big-right.svg') no-repeat center;
        left: -6rem;
        top: -2rem;
    }
}
.partners {
    .logo {
        min-height: 7rem;
    }
    .partnerMap {

    }
}
.wp-structure {
    .arrow-r {
        position: relative;
        z-index: 100;
        &:after {
            content: '';
            position: absolute;
            right: -1.4rem;
            top: 44%;
            width: 17px;
            height: 11px;
            background: url('../img/project/arrow-r.svg') no-repeat center;
        }
    }
    .arrow-l {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: -1.4rem;
            top: 44%;
            width: 17px;
            height: 11px;
            background: url('../img/project/arrow-l.svg') no-repeat center;
        }
    }
    .arrow-t {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            margin-left: -16px;
            top: -148px;
            width: 33px;
            height: 148px;
            background: url('../img/project/arrows.svg') no-repeat center bottom ;
        }
    }
    .no-arrow {
        position: relative;
        z-index: 100;
    }
}
.development {
    .arrow-r {
        position: relative;
        z-index: 100;
        &:after {
            content: '';
            position: absolute;
            right: -1.4rem;
            top: 44%;
            width: 17px;
            height: 11px;
            background: url('../img/project/arrow-r.svg') no-repeat center;
        }
        &.arrow-dark {
            &:after {
                background: url('../img/technological/arrow-r.svg') no-repeat center;
            }
        }
    }
    .arrow-long {
        background: url('../img/technological/arrow-t-green.svg') no-repeat left top / 35%;
        &.arrow-long-dark {
            background: url('../img/technological/arrow-t-bl.svg') no-repeat left top / 70%;
        }
        @include media-breakpoint-down(md) {
            background-size: 50%;
                &.arrow-long-dark {
                    background-size: 100%;
                }
       }
    }
}
#news {
    .desc{
        img { margin-bottom: 30px;}
    }
}
.newslist {
    .news{
        a{
            transition: .3s;
            h3 {
                transition: .3s;
            }
            &:hover {
                opacity: .9;
                box-shadow: 5px 5px 5px rgba(0,0,0, .1);
                text-decoration: none;
                h3 {
                    color: $secondary;
                }
            }
        }
    } 
}
.past {
    margin: 1rem 0 0 0;
    a{
        margin: 1rem 0 0 0;
        padding: .3rem 2.5rem .3rem 0;
        background: url('../img/all/ico-past.svg') no-repeat right center;
        color: $secondary;
    }
} 
.newsMenu {
    a{
        &:hover {
            text-decoration: none;
            color: $secondary;
        }
        &.active {
            color: $secondary;
            position: relative;
            &:after {
                position: absolute;
                content: '';
                height: 1px;
                width: 2rem;
                bottom: -.5rem;
                left: 40%;
                background: $primary;
            }
        }
    }
}
.main-news, .item-news {
    .summary {
        font-size: 1.2rem;
        color: $primary;
    }
    .date2 {
        padding: 4px 0 4px 24px;
        background: url('../img/all/ico-date.svg') no-repeat 0 center;
    }
    .place {
        padding: 4px 0 4px 22px;
        margin: 0 8px;
        background: url('../img/all/ico-place.svg') no-repeat 0 center;
    }
    .sharelink {
        margin-left: 8px;
    }
    .extras{
        margin: 40px 0;
        .descarga {
            padding: 4px 5% 14px 35px;
            background: url('../img/all/ico-download.svg') no-repeat 0 0;
            color: $secondary;
            display: inline-block;
        }
    	.link{
            padding: 4px 5% 14px 35px;
            background: url('../img/all/ico-link.svg') no-repeat 0 0;
            color: $secondary;
            display: inline-block;
        }
    }
}
.technology {
    min-height: 38rem;
}
.endTechnology {
    .textDestacado {
        position: relative;
    }
}
.csOverview {
    background: url('../img/technological/turbine-cs.jpg') no-repeat 0 0 / 100%;
    .row{
        padding: 360px 3% 24px 1%;
        .col {
            position: relative;
            display: flex;
            flex-direction: column;
            a {
                margin-top: auto;
                text-align: right;
                padding-right: 3rem;
                background: url('../img/all/arrow-green.svg') no-repeat right center;
                text-decoration: underline;
                color: $secondary;
                &:hover{    
                    text-decoration: none;
                    color: $primary;
                }
            }
        }
    }
}
.cs1 {
    .figure {
        margin-bottom: -9rem;
        display: block;
        text-align: right;
    }
}
//////////////////// formulario Advisory group
#advisoryform {
    select {
        position: relative;
        &:after {
            background: url('../img/all/arrow-down.svg') no-repeat left 3px;
            position: absolute;
            content: '';
            height: 1px;
            width: 2rem;
            bottom: -.5rem;
            left: 40%;
        }
    }
}

//////////////////// Contacto
#contact {
    .headquarters{
         p {
            padding-left: 2rem;
            margin-bottom: 2rem;
            font-size: 1.1rem;
            &.direction {
                background: url('../img/contacto/location.svg') no-repeat left 3px;
            }
            &.email {
                background: url('../img/contacto/email.svg') no-repeat left 8px;
            }
            &.tel {
                background: url('../img/contacto/tel.svg') no-repeat left 3px;
            }
            &.person {
                background: url('../img/contacto/person.svg') no-repeat left 3px;
            }
        }
    }
    .form{
        label {
            color: $white;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-top: 2rem;
        }
        .checkbox {
            label {
                text-transform: none;
                letter-spacing: 0px;
                margin: 0;
            }
        }
        .consentinfo {
            color: $white;
            font-size: .8rem;
        }
        a, .required {
            color: $white;
        }
    }
	
	form{
		.form-control{
			background: $gray-100;
			border: none;
			height: 46px;
			&.inputBuscador {
				width: 20rem;
			}
			&.recaptcha{
				overflow: hidden;
				width: 290px;   /* note the embedded iframe is 302x76 */
				min-width:0px;
				height: 74px;
				padding:0;
				text-align: left;
				border: 0.09em solid #CBCBCB;
				margin: 0 auto;
				.g-recaptcha{
					width:304px;
					margin: 0 auto;
					div{
						height: auto;
						display: block;
						margin-right: auto;
						margin-left: auto;
					}
					&.has-error{
						background: #ffe5e8;
						border-bottom: 3px solid #c80d22;
						border-radius: 3px;
					}
				}
				iframe{
					position: relative;
					left: -6px;
					top: -1px;
				}
				&:hover{
					border-color: #9da9b1;
					outline: 0;
				}
				&.has-error{
					border-color: #c80d22;
					&:focus, &:hover{
						border-color: #980a1a;
					}
				}
			}
			&.mce-container{
				height:auto;
			}
		}
		.required{
			margin-bottom: 30px;
		}
		.file{
			padding: 12px 20px;
			border-radius: 8px;
			line-height: 1;
		}
		.opt-corporate1{
			background: $white;
			box-shadow: 2px 2px 2px $gray;
			color: $primary;
			border: none;
			padding: 0.5rem .75rem;
			&.active {
				background: $gray-100;
				border-bottom: 1px solid $secondary;
			}
		}
		textarea{
			min-height: 9rem;
		}
	}
}

.btn-corporate3 {
    color: $gradient-corporate1;
    font-weight: bold;
    font-size: .8rem;
    text-transform: uppercase;
    &:hover{
        color: white;
        background-image: $gradient-corporate1;
    }
}
.inputBuscador {
    width: 350px!important;
}

.containerMedia {
    .noticia {
        p {
            margin-bottom: 0;
        }
        .item-news {
            margin-bottom: .5rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-down(md) {
    // ////////////////////// header
    header{ 
        nav{
            top: auto!important;
            bottom: 0!important;
            max-height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            &.bg-white {
                background-color: $gray!important;
            }
            #logo {
                vertical-align: middle;
                a{
                    background-size: 100%;
                    width: 250px;
                    margin-left: 1rem;
                    background-image:  url('../img/all/logo-innteresting-dark.png');
                }
            }
            button {
                vertical-align: middle;
                float: right;
                margin: 1.2rem 1.5rem 0 0;
                color: $white!important;
            }
            .navbar-nav {
                padding: 0 0 0 1rem!important;
                margin: 0 0 1rem 0;
                a {
                    color: $white!important;

                }
                .active {
                    a{
                                            &:after {
                                                display: none;
                                            }
                                        }
                }
                li.sub .sub-container{
                    position: relative;
                }
            }
            .navbar-aux {
                padding: 0 0 0 1rem!important;
                margin: 0;
            }
        }
    }
    main {
        padding-top: 0rem;
    }
    .hero {
        margin-top: 1rem!important;
        .text-box{
                top: 10px;
                bottom: auto;
                h1 {
                    margin-left: .5%;
                    font-size: 1.55rem;
                    line-height: 1.5rem;
                }
        }
    }
    #home {
        .hero { 
           .text-box{
                top: 10px;
                bottom: auto;
                h1 {
                    margin-left: .5%;
                    font-size: 1.55rem;
                    line-height: 1.5rem;
                }
                p {
                    display: none;
                }
           }
        }
    }
    .add {
        top: auto;
        bottom: -1rem;
        right: 50%;
    }
    .endTechnology .textDestacado:after {
        display: none;
    }
    .csOverview {
        .row{
            padding: 160px 3% 24px 1%;
        }
    }
    .cs1 {
        .figure {
            margin-bottom: 0;
        }
    }
    footer {
        margin-bottom: 3rem;
    }
}



// Small devices (320px and up)
@include media-breakpoint-down(sm) {
    header nav #logo a {
        width: 200px;
    }
    .packageChart {
        .row {
            background: none!important;
        }
    }
    .btn-corporate1 {
        font-size: .7rem;
        padding: 0.8rem 4rem 0.8rem 2rem;
        &:after {
            width: 1.5rem;
            right: 2rem;
        }
        &.back {
            padding: 0.8rem 2rem 0.8rem 4rem;
            &:after {
                width: 1.5rem;
                right: auto;
                left: 2rem;
            }
        }
    }
    h2 {
        font-size: 1.7rem;
        letter-spacing: 3px;
    }
    #home {
        .hero { 
            background: $primary;
            figure{
                overflow-x: hidden;
                img {
                    width: 140%;
                    display: block;
                    max-width: none;
                }
            }
           .text-box{
                h1 {
                    padding-left: 1.6rem;
                    font-size: 1.55rem;
                    line-height: 1.5rem;
                }
                p {
                    display: none;
                }
           }
        }
    }
    .banner .btn {
        margin: 0;
        float: none;
    }
    header nav .navbar-nav li {
        margin: 10px 0;
    }
    header nav .navbar-aux {
        padding: .3rem 0 .3rem 1rem !important;
        li a {
            font-size: .9rem
        }
    }
    .wp-structure {
        .arrow-t {
            &:after {
                top: -50px;
                height: 50px;
            }
        }
    }
    .csOverview {
        background-size: 150%;
        background-position: 24% top;
    }
    footer {
        .person, .tel, .mail{
            display: block;
            margin-bottom: .8rem;
        }
    }
    .partners {
        .partnerMap {
            max-width: none;
            width: 135%;
            margin-left: -5%;
            height: auto;
        }
    }
}
// IE11 Corrections
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .hero{
        &.align-items-end {
            align-items: start!important;
            display: block!important;
            position: relative;
            .row{
                position: absolute;
                width: 100%;
                bottom: 0;
            }
        }
    }
    .img-box img{
        width: 100%;
    }
    .btn {
        padding: 0.5em 2em;
    }
    header .navbar.menuPrincipal .navbar-nav .dropdown .dropdown-menu .submenu ul.submenu2cols li {
        width: 43.5%;
    }
}
  