//colors
$primary: #243E90;
$secondary: #15F1AF;
$gray:#393939;
$grayLight:#F9F9F9;
$black:#000000;
$blueLight:#2683C6;
$greenLight:#E8F4F4;
$orangeDark:#AC1A2F;
$body-color: #3C444C;
$spacer: 3rem !default;